.bookList{
  width: 90vw;
  max-width: 100vw;
  min-width: 40vw;
  margin: 5rem auto;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.book{
  background: #ffff;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  /* margin: 20px; */
}

img{
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h3{
  color: hsl(209, 61%, 16%);
}